# Postgres container
  POSTGRES_USER=postgres
  POSTGRES_PASSWORD=postgres
  POSTGRES_DB=rails_api_aggregator_development

  # Rails database connection
  DATABASE_HOST=db-postgres
  DATABASE_PORT=5432
  DATABASE_USER=postgres
  DATABASE_PASSWORD=postgres
  DATABASE_NAME=rails_api_aggregator_development
  DATABASE_NAME_TEST=rails_api_aggregator_test

  # Rails
  RAILS_ENV=development
  RAILS_LOG_LEVEL=debug

  PORT=3001